@font-face {
  font-family: myFirstFont;
  src: url(../images/OZpGg_pnoDtINPfRIlLohlvHwQ.woff2);
}

.AllMainLolly {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.lollipop {
  height: 80vh;
  width: 150px;
  padding: 20px;
}
.MainHead {
  font-family: myFirstFont;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
.MainHead h1 {
  font-size: 70px;
  font-weight: bold;
  font-size-adjust: initial;
}
.MainHead p {
  font-family: serif;
}
.Main {
  background-color: #221f2b;
  background-size: contain;
}
@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

.myh1 {
  font-size: calc(20px + 18vh);
  line-height: calc(20px + 20vh);
  text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
    0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
  color: #fff;
  /* text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
    0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
  color: #fff; */
  font-family: "Sacramento", cursive;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}
.myp {
  margin-top: -35px;
  font-size: calc(5px + 2vh);
  line-height: calc(2px + 2vh);
  text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
    0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
  color: #fff;
  /* text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
    0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
  color: #fff; */
  font-family: "Sacramento", cursive;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}

@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  10%,
  15%,
  19%,
  25%,
  44%,
  56%,
  80% {
    color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
    /* text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
      0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9; */
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    color: #fff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
    /* text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
      0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9; */
  }
}
.glow-on-hover {
  width: 400px;
  height: 50px;
  border: 1px solid #a4009d;
  outline: none;
  color: #890092;
  background: #221f2b;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 20px;
  font-size: 3vh;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.glow-on-hover:hover {
  color: white;
  background-color: #a4009d;
}
.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;

  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 20px;
}

.glow-on-hover:active {
  color: #fff;
}

.glow-on-hover:active:after {
  background: #221f2b;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #221f2b;
  left: 0;
  top: 0;
  border-radius: 20px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.buttonMain {
  /* width: 20%; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
@media only screen and (max-width: 600px) {
  .buttonMain {
    /* width: 20%; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    padding-top: -25px;
    padding-bottom: 25px;
  }
  .glow-on-hover {
    width: 80%;
    height: 50px;
    border: 1px solid #a4009d;
    outline: none;
    color: #890092;
    background: #221f2b;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;

    font-size: 3vh;
  }
}
.MainFormLolly {
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}
#loll {
  width: 80px;
  height: 80px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  overflow: hidden;
}
.Form {
  width: 30%;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 5px 10px 15px 16px #191620;
  color: #bbbbbb;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  margin: 25px;
  background-color: #15131a;
}
.Form Form Field {
  padding: 25px;
}
.lollyFlavourDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-top: -100px;
}
.colorPickerLabel {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 15px;
  margin-top: 45px;
  overflow: hidden;
}
.FormInput {
  border: none;
  width: 350px;
  margin: 10px;
  border: 2px solid #ff26d7;
  background-color: #222222;
  box-shadow: 1px 2px 3px 4px #44173b;
  color: wheat;
}
@media only screen and (max-width: 600px) {
  .MainFormLolly {
    /* border: 2px solid black; */
    display: inline;
    padding-bottom: 100px;
  }
  .FormInput {
    border: none;
    width: 80%;
    margin: 10px;
    border: 2px solid #ff26d7;
    background-color: #222222;
    box-shadow: 1px 2px 3px 4px #44173b;
    color: wheat;
  }
  .Form {
    width: 80%;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 10px 15px 16px #191620;
    color: #bbbbbb;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    background-color: #15131a;
  }
  .lollyFlavourDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top: -50px;
  }
  /* .lollipop {
    height: 80vh;
    width: 150px;
    padding: 20px;
    margin-left: 15%;
    margin-right: 15%;
  } */
}
.FinalPage {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
#mainPara {
  color: #bbbbbb;
}
.datashow {
  padding: 25px;
  width: 35%;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#linkPath {
  background-color: rgb(0, 0, 0);
  width: 70%;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 3%;
  padding-bottom: 3%;
  color: #a4009d;
  font-size: 17px;
  /* font-size: bolder; */
  font-weight: bolder;
  box-shadow: 5px 10px 15px 16px #191620;
}
.MainText {
  background-color: #16141b;
  width: 80%;
  height: 40vh;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 15px;
  font-family: "Sacramento", cursive;
  box-shadow: 5px 10px 15px 16px #191620;
  color: #bbbbbb;
}
.buttonfor {
  background-color: transparent;
  color: white;
  border: none;
}
.template {
  background-color: #221f2b;
  background-size: contain;
}
